* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tudo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Cabeçalho */

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a32024;
    padding: 1rem 2rem;
    color: white;
    height: 8vh;
    gap: 10%;
}

.topo h1 {
    flex: 1;
    text-align: center;
    margin: 0;
    font-size: 3vh;
}

.logotop {
    height: 8vh;
}

main {
    flex: 1;
    /* ocupa todo o espaço disponível */
    height: auto;
    /* ajusta conforme o conteúdo */
}

/* Rodapé */

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a32024;
    color: white;
    height: 10vh;
}

.logobottom {
    height: 7vh;
    padding: 1rem 2rem;
}

.logosp {
    height: 10vh;
}

/* Index */

.index{
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerindex{
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    width: 50%;
    height: 60vh;
    border-radius: 12vh;
    box-shadow: 2px 8px 12px 2px #f1f1f1;
}

#containerindex h2{
    text-align: center;
    margin: 5%;
    font-size: 3vh;

}

#admaluno{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13%;
}

.boxlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a32024;
    width: 36%;
    height: 38vh;
    border-radius: 10%;
    color: #FFF;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.boxlog:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.boxlog h3, 
.boxlog p {
    color: #FFF;
}

.boxlog h3{
    font-size: 3.5vh;
    padding: 1.2rem;
}

.boxlog p{
    text-align: center;
    font-size: 2vh;
    width: 70%;
}

.imgindex{
    height: 17vh;
}

/* Login aluno e adm */

#login{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 35%
}

.loginhead{
    display: column;
    text-align: center;
}

.loginhead img{
    height: 10vh;
}

.loginhead h2{
    font-size: 3vh;
    margin: 4%;
    letter-spacing: 2px;
}

.loginhead h3{
    font-size: 2.5vh;
    color: #1f1f1f;
    margin-bottom: 5%;
}

.loginbody{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loginbody input[type="text"], input[type="password"]{
    margin: 0 auto;
    width: 100%;
    height: 4vh;
    padding: 5px 10px;
    font-size: 2vh;
    background-color: #EDC5C6;
    border: none;
    color: #000000;
}

.loginbody input[type="submit"]{
    margin: 3px auto;
    width: 103%;
    padding: 5px 10px;
    height: 5vh;
    font-size: 2.5vh;
    letter-spacing: 1px;
    background-color: #6986C5;
    color: #fff;
    border: none;
    cursor: pointer;
}

.loginbody input[type="submit"]:hover{
    cursor: pointer;
    background-color: #3e67be;
}

#login a {
    text-decoration: none;
    color: #5f5f5f;
    text-align: center;
    margin: 4%;
    font-size: 2vh;
}

#login a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Tela Votação aluno */

.votacaohead h1{
    font-size: 4vh;
    text-align: center;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#caixavotacao{
    border: 4px solid #ccc;
    border-radius: 35px;

}

.headcaixavotacao{
    background-color: #EDC5C6;
    border-radius: 30px 30px 0 0;
}

.headcaixavotacao h2{
    margin: auto;
    padding: 2vh;
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincaixavotacao{
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 2vh;
}

.botaocaixavotacao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 2%;
}

.botaocaixavotacao a{
    text-decoration: none;
    background-color: #a32024;
    color: #FFF;
    width: 40%; 
    text-align:center;
    padding: 2%;
    border-radius: 2vh;
}

/* Botão de finalizar sessão */

.finalizarsessao {
    margin: 2vh auto;
    background-color: #a32024;
    padding: 1vh 1.5vh;
    border-radius: 5px;
    width: 35%;
}

.finalizarsessao a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.finalizarsessao img {
    width: 3vh;
    height: 3vh;
    margin-right: 8px;
}

.finalizarsessao p {
    margin: 0;
    font-weight: bold;
    font-size: 2.5vh;
}